PORT=10520

# MONGODB DEVELOPMENT SERVER
MONGODB_CXN_STRING_DEV=your_mongodb_connection_string
MONGODB_USER_DEV=your_mongodb_username
MONGODB_PASS_DEV=your_mongodb_password

# MONGODB PRODUCTION SERVER
MONGODB_CXN_STRING_PROD=your_mongodb_connection_string
MONGODB_USER_PROD=your_mongodb_username
MONGODB_PASS_PROD=your_mongodb_password

# JSON WEB TOKENS
JWT_ISSUER=your_jwt_issuer_name
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION_AGE=10 # in days

# EMAIL SMTP SERVER
SMTP_SERVER=your.smtp_server_domain.com
SMTP_USERNAME=your_smtp_server_username
SMTP_PASSWORD=your_smtp_server_password
SMTP_PORT=465
