PORT=10520

# MONGODB
MONGODB_CXN_STRING=mongodb+srv://street-audit:CicMfeGOVlDFgs3h@fluster-adtar.mongodb.net/test?retryWrites=true&w=majority
MONGODB_USER=street-audit
MONGODB_PASS=CicMfeGOVlDFgs3h

