html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #cccccc;
  background-color: black;
  overflow: hidden;
  font-family: 'DDG_ProximaNova', 'DDG_ProximaNova_UI_0', 'DDG_ProximaNova_UI_1',
    'DDG_ProximaNova_UI_2', 'DDG_ProximaNova_UI_3', 'DDG_ProximaNova_UI_4',
    'DDG_ProximaNova_UI_5', 'DDG_ProximaNova_UI_6', 'Proxima Nova',
    'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Nimbus Sans L',
    'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;
}
.clear {
  clear: both; /* clearfix hack */
}

/* logo */

h1.logo {
  font-size: 18px;
  border-radius: 10px;
  text-transform: lowercase;
  text-align: center;
  width: 110px;
  margin: 0 auto;
  position: fixed;
  z-index: 201;
  padding-top: 10px;
  padding-bottom: 2px;
  top: -10px;
  left: 50%;
  margin-left: -55px; /* half the width */
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
h1.logo:hover {
  /* text-decoration: underline; */
  /* color: #007bff; */
}

/* general styles */

a,
a:link,
a:visited {
  color: #cccccc;
  text-decoration: underline;
}
a:hover {
  color: white;
  text-decoration: none;
}

.btn.btn-primary {
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cancel-link {
  margin-left: 20px;
  margin-right: 20px;
}

section {
  margin-bottom: 20px;
}

label {
  padding-left: 10px;
}

/* input[type='text'],
select {
  width: 300px;
} */

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}
.list-group-item {
  background-color: transparent;
  padding: 0.05rem 0.75rem;
}

/* the map! */
.feature-map {
  /* position: relative; */
}

#map {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.hide {
  display: none;
}

/* map controls */

/** mobile version **/
.control-map-selector {
  position: absolute;
  cursor: pointer;
  bottom: -1px;
  width: 300px;
  left: 50%;
  margin: 0 auto;
  z-index: 101;
}
.control-map-selector button.map-title {
  background-color: black;
  width: 240px;
  margin-left: -120px;
  border: none;
  box-shadow: none;
}

.leaflet-control-attribution,
.leaflet-control-attribution a {
  color: #aaa;
}
/* .map-controls {
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 100;
}
 */
.map-control {
  cursor: pointer;
  position: absolute;
  z-index: 101;
}

.control-add-feature {
  width: 40px;
  top: 144px;
  left: auto;
  right: 30px;
  margin: 0;
}
.control-add-feature img {
  margin-left: 0;
  width: 100%;
}
.control-find-location {
  width: 40px;
  top: 30px;
  right: 30px;
}
.control-find-location img {
  width: 100%;
}
.control-search-address {
  width: 40px;
  top: 90px;
  right: 25px;
}
.control-search-address img {
  width: 100%;
}
.control-download-data {
  float: left;
}

.map-controls img {
  min-width: 30px;
  max-width: 50px;
  min-height: 30px;
  max-height: 50px;
}

/* info window content */

.info-window {
  display: none;
  position: fixed;
  overflow: auto;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
  /* border-top: 1px solid white; */
  padding: 0px 20px 0 20px;
  margin-bottom: 0px;
  z-index: 200;
}

/* info-window context dropdown menu */
.info-window .dropdown-menu {
  border: 1px solid #cccccc;
  background-color: black;
  color: white;
}
.info-window .dropdown-item {
  background-color: transparent;
  color: white;
}

/* context menu */
.info-window .context-menu {
  float: right;
  /* border: 1px solid red; */
  margin-top: 28px;
}
.info-window .context-menu.dropdown button,
.info-window .context-menu.dropdown button:focus,
.info-window .context-menu.dropdown.show button.btn-secondary.dropdown-toggle {
  display: block;
  background-color: transparent;
  border-color: transparent;
  outline: transparent;
  color: #6c757d;
  /* position: absolute;
  top: 0;
  right: 0; */
  padding: 10px 0;
  /* margin-top: -10px; */
  box-shadow: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
.info-window .context-menu.dropdown button.dropdown-toggle:after {
  /* remove divot */
  content: '';
  display: none;
}
.info-window .expand-contract-button img,
button.dropdown-toggle img {
  width: 30px;
}

.info-window-content {
  /* margin-top: 20px; */
}
.info-window-content article,
.info-window-content header {
  margin-bottom: 0.55em;
}
.info-window-content h2 a.map-title {
  text-decoration: underline;
  cursor: pointer;
}

.info-window-content .card {
  padding-top: 10px;
  background-color: black;
  color: white;
}

.info-window .close-icon {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 201;
}

.info-window .edit-icon {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 201;
}

/* map selector */
.info-window-content .more-maps-container .other-maps-heading {
  margin-bottom: 10px;
}
.new-map-button-container a.btn {
  margin-top: 0;
  margin-bottom: 15px;
}

/* info window content */
.info-window-content.container {
  padding: 0; /* override bootstrap default padding */
}

/* about us */
.about-us {
  padding-top: 20px;
}

/* feature details */
.info-window-content .feature-detail header,
.info-window-content .map-details-container {
  padding-top: 20px;
}
.info-window-content .map-details-container .prevnext-feature-container {
  /* margin-top: -60px; */
}
.info-window-content .map-details-container .context-menu {
  margin-top: -15px;
}
.info-window-content .map-summary-stats .context-menu {
  margin-top: 5px;
}

/* info panel styles */

.info-window-content img {
  max-width: 100%;
}

.info-window-content h2 {
  font-size: 14pt;
}

.alert.instructions {
  border-radius: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  color: #cccccc;
  background-color: black;
  border-color: black;
}
.alert.instructions a {
  color: #cccccc;
}

.attribution {
  font-size: 15px;
  /* color: #bbb; */
}

/* photo carousel */
.carousel {
  width: 100%;
  height: 50vh;
  /* height: 300px; */
}
.carousel .carousel-inner img {
  width: 100%;
  /* height: 30em; */
  /* height: 400px; */
  max-height: 50vh;
  object-fit: contain;
  overflow: hidden;
}

/* Leaflet extra markers */
.leaflet-marker-draggable {
  /* tbd */
}
.extra-marker i {
  font-size: 18px;
}

.extra-marker i.me-marker {
  font-size: 18px;
}

.leaflet-popup-content {
  text-align: center;
}

.leaflet-popup-content button.btn {
  font-size: 14px;
}

.leaflet-popup-content p {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* spinner icon */
.spinner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 10;
}
.spinner-overlay img {
  display: block;
  margin: 0 auto;
  width: 75px;
}

/* previous and next feature links */
.prevnext-feature-container {
  /* margin-top: -20px;
  margin-bottom: 10px; */
  /* width: 100%;
  left: 15px; */
  /* position: fixed; */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 2px;
  z-index: 101;
}
.info-window .prev-feature-link,
.info-window .next-feature-link,
.info-window .navigate-features-link {
  border-radius: 0;
  color: black;
}

.feature-form {
  margin-top: 25px;
}
.feature-form .nearby-address {
  font-size: 0.75em;
}

.feature-form span.address {
  font-weight: bold;
}

/* file uploader */
.file-upload-container {
  margin-top: 10px;
  border: 2px dotted white;
  padding: 10px;
  background-color: black;
}
.file-upload-container * {
  pointer-events: none; /* prevent inner elements from triggering dragleave events */
}
.file-upload-container a.add-photos-link {
  pointer-events: all; /* allow clicks! */
}
.file-upload-container.active {
  background-color: blue;
  color: white;
}
.drop-container {
  text-align: center;
  padding-bottom: 15px;
}
.thumbs-container,
.feature-form .existing-thumbs-container {
  margin-top: 10px;
}
.existing-thumbs-container {
  margin-left: -5px;
}
.thumbs-container .thumb,
.existing-thumbs-container .thumb {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
}
.thumbs-container .thumb img.thumb-img,
.feature-form .existing-thumbs-container .thumb img.thumb-img {
  height: 100px;
}
.thumbs-container .thumb .close-icon,
.existing-thumbs-container .thumb .close-icon {
  top: 0;
  right: 0;
  background-color: white;
  cursor: pointer;
  pointer-events: all; /* allow clicks! */
}
/* // file uploader */

/* search results */
.matching-addresses .list-group-item {
  color: #ccc;
  border-color: #555;
  text-decoration: none;
  padding: 5px 0;
}
.matching-addresses .list-group-item-action:hover {
  background-color: transparent;
  color: white;
}

/* comments */
.comments {
  border-top: 1px dotted #555;
  padding-top: 20px;
}
.feature-detail.comment header {
  /** override default for feature-detail **/
  padding-top: 15px;
}
.feature-detail.comment div.context-menu {
  /** override default for feature-detail **/
  margin-top: 0px;
}

.existing-comments {
  margin-bottom: 20px;
}
.comment {
  border-bottom: 1px dotted #555;
}

/* move content away from the top of info-panel */
.feature-list-container h2,
.rename-map-container,
.about-forks,
.settings-map-container,
.log-in,
.sign-up,
.reset-password,
.search-address-form,
.gps-error,
.user-stats {
  padding-top: 20px;
}
.no-posts-container header {
  /* center the welcome message */
  text-align: center;
}

/** desktop version **/
@media only screen and (min-width: 768px) {
  h1.logo {
    left: 0px;
    bottom: 0px;
    top: auto;
    margin-left: 0;
    padding-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .feature-map,
  .info-window-container {
    /* no space between columns */
    margin: 0 !important;
    padding: 0 !important;
  }
  .feature-map .control-map-selector {
    /* hide the map selector that appears on mobile at bottom of map */
    display: none;
  }
  .control-map-selector {
    /* situate map selector at top, instead of bottom */
    width: 100%;
    left: 0;
    top: 0;
    bottom: auto;
    z-index: auto;
  }
  .control-map-selector button.map-title {
    /* simpler map-selector styles */
    width: 100%;
    margin: 0;
    border-color: transparent;
    border-radius: none;
  }
  .info-window {
    /* info window is always visible */
    display: block;
    height: auto;
    overflow: auto;
    width: 100%;
    position: static;
    margin-top: 38px;
    padding: 0;
  }
  .info-window .info-window-content {
    padding-bottom: 100px;
  }
  .prevnext-feature-container {
    top: 0;
  }
  .prevnext-feature-container a {
    /* margin: 0 !important; */
  }
  .expand-contract-button {
    display: none;
  }
  .feature-list-item * {
    /* pointer-events: none; */
  }
  .map-summary-stats,
  .user-stats {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
  .user-stats {
  }
} /* // desktop version */
